@tailwind base;
@tailwind components;
@tailwind utilities;

.sideBar {
    position: fixed;
    background-color: #009c4f;
    color: white;
    z-index: 50;
    height: 100%;
}
.logo-name {
    font-family: 'Castellar', cursive;
}
